<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3>居民列表</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="x-content">
    <!-- Table row -->
    <div class="row">
      <div class="col-xs-12 table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>姓名</th>
              <th>年龄</th>
              <th>联系方式</th>
              <th>诊断</th>
              <th>住址</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>李杰林</td>
              <td>80</td>
              <td>13098767890</td>
              <td>无
              </td>
              <td>天水街道808</td>
            </tr>
            <tr>
              <td>李杰林</td>
              <td>80</td>
              <td>13098767890</td>
              <td>无
              </td>
              <td>天水街道808</td>
            </tr>
            <tr>
              <td>李杰林</td>
              <td>80</td>
              <td>13098767890</td>
              <td>无
              </td>
              <td>天水街道808</td>
            </tr>
            <tr>
              <td>李杰林</td>
              <td>80</td>
              <td>13098767890</td>
              <td>无
              </td>
              <td>天水街道808</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</div>
